In [1]:
import pandas as pd

In [3]:
import os
file_path = os.getcwd() + "\\dane\TPD_1000.csv"

In [5]:
tpd_top_1000 = pd.read_csv(file_path)

In [6]:
tpd_top_1000.head()

,RowId,TypKarty,TxnKod,TxnData,TxnCzas,DataPrzetw,DCC,CTLS,PIN,CB,...,Country,anon_MID,anon_POS_ID,anon_NrKarty,anon_AuthKod,anon_Kwota,anon_Interchange,anon_MSC,anon_FlatFee,anon_CashAmount
0,1497431,M,2012,20180801,73143,20180801,0,1,1,0,...,PL,8fef96ce980cba8ff8f08de425001e8b,ba844774090c9a810439061facbf452d,63e0ac7925fd6ed5a909dec30254bd0e,UHNLPQ,45.74,-0.08,1.0,0.0,0.0
1,1497435,M,2012,20180801,172557,20180801,0,0,1,0,...,PL,c12e12f648fd0bb327385887a112031a,a7686cf7a9426fb28826183c728bdafd,2beecf7d057c799fa036cea29378a8dd,QGQJNY,28.65,-0.05,1.0,0.0,0.0
2,1497436,M,2012,20180801,70751,20180801,0,1,1,0,...,PL,7c9797b73283de6f067270d0ccebaa3f,5ab3a6ea538e87285adf0a9fcdca3fea,51a38c2e8b8be3e97aa6f0c6ff70c112,ITKIQT,10.79,-0.01,1.0,0.0,0.0
3,1497437,M,2012,20180801,170654,20180801,0,1,1,0,...,PL,e467f14fb2b81847acf9a7b1a69c5061,64e5ea2ee09eb3217defa4f7c9beeab5,51a38c2e8b8be3e97aa6f0c6ff70c112,YFTJKA,21.19,-0.03,1.0,0.0,0.0
4,1497443,M,2012,20180801,122720,20180801,0,1,1,0,...,PL,b698920f6829768d3a6ff8b5ea95a667,674bba835908b46b32a1155478644d27,ef48d212400df7664e3ac1aedfa932ef,DPFQOO,50.33,-0.09,1.0,0.0,0.0